{% extends "base.html" %}

{% block js_extra %}
        <script type="text/javascript" src="{{ SITEURL }}/theme/js/roadmap.js"></script> 
{% endblock %}

{% block content %}
    <div id="teaser-small">
        <h1>Roadmap</h1>
    </div>

    <div id="roadmap">
        <div class='version'>
          <h2>1.0</h2>
          <ul>
              <li><a target="_blank" href="http://ircv3.atheme.org/extensions/sasl-3.1">SASL</a>
              and NickServ identification</li>
              <li>Multitasking, stay connected for up-to 10 minutes while
              multi-tasking.</li>
              <li>Intergrated timestamps with <a target="_blank" href="http://ircv3.atheme.org/extensions/server-time-3.2">server-time</a>.</li>
              <li>Supports TLS/SSL.</li>
              <li>Preferences syncronisation via iCloud.</li>
              <li>Customizable highlight and mention notices with alerts and
              vibrations.</li>
          </ul>

          <strong>Note:</strong>
          <em>First public release of Palaver for iOS.</em>
        </div>

        <div class="version current">
          <h2>1.1 <small>(current)</small></h2>
          <ul>
              <li>Feature #2 - Support push notifications.</li>
              <li>Feature #5 - Support media upload (image/video).</li>
              <li>Feature #8 - Support autocomplete.</li>
          </ul>
        </div>

        <div class="version future">
            <h2>1.2</h2>

            <ul>
                <li>Complete redesign</li>
                <li>New icon</li>
            </ul>
        </div>

        <canvas id="canvas"></canvas>
    </div>
{% endblock %}
